<body class="blue-grey darken-">

  <div class="container teal darken-1 s6">
    <h2 class="col 6"></h2>
    <h1>Login</h1>
  </div>
  {{! Login form }}
  <div class="container teal darken-4 s6">
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button
          id="submitBtn"
          class="btn btn-primary"
          type="submit"
        >login</button>
      </div>
    </form>
  </div>

  {{! Singup form }}
  <div class="container teal darken-1 s6">
    <h2 class="col 6"></h2>
    <h1>Signup</h1>
  </div>
  <div class="container teal darken-4 s6">
    <form class="form signup-form">
      <div class="form-group">
        <label for="first_name black-text">First Name</label>
        <input id="first-name-signup" type="text" class="validate black-text" />
      </div>
      <div class="form-group">
        <label for="last_name black-text">Last Name</label>
        <input id="last-name-signup" type="text" class="validate black-text" />
      </div>
      <div class="form-group">
        <label for="email black-text">Email</label>
        <input id="email-signup" type="email" class="validate black-text" />
      </div>
      <div class="form-group">
        <label for="password black-text">Password</label>
        <input
          id="password-signup"
          type="password"
          class="validate black-text"
        />
      </div>
      <div class="form-group">
        <button id="signupBtn" class="btn btn-primary" type="submit">Sign Up
          <i
            class="material-icons right"
          >send</i>
        </button>
      </div>
    </form>
  </div>
</body>

<script src="./js/login.js"></script>